.left,
.center,
.right {
  width: 19%;
}

.name {
  width: 50%;
  height: auto;
  min-width: 95px;
}



.left,
.center,
.right {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-direction: row;
  height: 70%;

}

.bar {
  font-size: 30px;
}



.searchBar,
.subBar {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-direction: row;
  height: 80px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

}

* {
  padding-top: 10px;
}

.searchBar,
.bar,
.searchable,
.subBar {
  padding: 0;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  text-align: center;

}



input {
  padding: 5px 5px;
}

.subBar {
  margin-bottom: 20px;
  background-color: white;
  border-bottom: 1px solid lightgray;
}

.center {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.search {
  width: 80%;
}

.searchButton {
  width: 10%;
}